@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css');
h1,
p {
  font-family: Lato;
}
body {
  margin: 0;
}
.gallery-item {
  margin: 5px;
}
